# Copyright 2023 Thales DIS
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

name: Verible
on: [push, pull_request_target]

jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: niwis/verible-formatter-action@pulp
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          files: '$(find core -regex ".*\.\(v\|sv\)$" | grep -v "^core/include/.*_config_pkg.sv$")'
          fail_on_formatting_suggestions: false
          reviewdog_reporter: github-check
          reviewdog_fail_on_error: true
